{% extends "base.html" %}

 {% block head %}
 
    <title> Todo List App </title>
 {% endblock %}

 {% block body %}
 
 <div class="content">

    <h1> Hello User </h1>

    <table>
        <tr>
            <th> Task </th>
            <th> Added </th>
            <th> Action </th>
        </tr>

        <tr>
            <td> Lorem.</td>
            <td> ipsum </td>
            <td> dolor </td>
        </tr>
        
    </table>

    <form action="">
        <input type="text" name="content" id="content">
        <input type="submit" placeholder="Add Task" id="addBtn">
    </form>
</div>
 
 {% endblock %}

